@import 'https://fonts.googleapis.com/css2?family=Inder&family=Inria+Serif&family=Libre+Caslon+Display&family=Ruge+Boogie&family=Urbanist:wght@500;600&family=Yellowtail&display=swap';

body {
  padding: 0;
  margin: 0;
}

.swiper {
  width: 100%;
  height: 100vh;
  position: relative;

  .swiper-wrapper {
    min-height: 50vh;

    .swiper-slide {
      background: #ccc;
      overflow: hidden;
      position: relative;
      height: 100%;
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
          
      .slide-inner {
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
      }
    }
  }
}

.swiper-pagination {
  padding: 0 1rem;
  width: 10%;

  .swiper-pagination-bullet {
    background-color: rgba($color: #000, $alpha: 0%);
    fill: pink;
    color: pink;
    width: 25px;
    height: 100%;

    &:focus,
    &:hover {
      outline: 1px solid pink;
      outline-offset: 2px;
    }
  }
}

.swiper-pagination-bullet-active {
  fill: #fff;
  color: #fff;
}
